.header__logo-link {
  display: block;
  max-width: 142px;
  transition: opacity 0.8s;
}

.header__logo-link:hover {
  opacity: 0.6;
}

@media (max-width: 767px) {
  .header__logo-link {
    margin-left: 27px;
  }
}

@media (max-width: 424px) {
  .header__logo-link {
    max-width: 103.75px;
  }
}


