.profile__profession {
  margin: 0;
  width: 100%;
  max-width: 400px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media (max-width: 767px) {
  .profile__profession {
    text-align: center;
  }
}

@media (max-width: 550px) {
  .profile__profession {
    max-width: 320px;
  }
}

@media (max-width: 424px) {
  .profile__profession {
    max-width: 220px;
    font-size: 14px;
    line-height: 17px;
  }
}
