.element__delete {
  position: absolute;
  right: 20px;
  top: 20px;
  padding: 0;
  width: 18px;
  height: 19.3px;
  background: url(../../../images/element-delete.svg) no-repeat center;
  border: none;
  transition: opacity 0.8s;
}

.element__delete:hover {
  cursor: pointer;
  opacity: 0.5;
}
