.popup__close {
  position: absolute;
  top: -40px;
  right: -40px;
  padding: 0;
  width: 40px;
  height: 40px;
  background: url(../../../images/popup-close.svg) no-repeat ;
  transform: rotate(-45deg);
  border: none;
  cursor: pointer;
  transition: opacity 0.8s;
}

.popup__close:hover {
  opacity: 0.6;
}
